.sri {
	
	background-color:red;
	height:70px;
	width:400px;
}

#parent{width:400px;height;120px;background:green;overflow:hidden;}
#one{width:100px;float:left;height:120px;background:blue;}
.fo {
  background:pink;
  width:400px;
  height:70px;
}
	

	